node_modules/
frontend/dist/
__pycache__/
backend/.pytest_cache/
backend/data/models/*.joblib
/data/language/*
!/data/language/.gitkeep
.venv/
.env
*.pyc
data/*.db
data/uploads/*
!data/uploads/.gitkeep
.copilot-azure/
